<!DOCTYPE html>
<html lang=ja xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在庫一覧</title>
</head>
<body>
    <h1>在庫一覧</h1>

    <!-- 在庫一覧テーブル -->
    <table border="1">
        <thead>
            <tr>
                <th>魚種名</th>
                <th  th:each="store : ${stores}" th:text="${store.name}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="entry : ${stockTable}">
                <td th:text="${entry.key}"></td>
                <td th:each="store : ${stores}"
                    th:text="${entry.value.get(store.name)}"></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>